#master-header{
    background-color: $color_gray;
    .header{
        .header-right{
            .header-inner{
                .menu-item{
                    text-align: center;
                    
                    a{
                        text-decoration: $td_none;
                        color: black;
                        padding: .5rem 0;
                        text-align: center;
                        background-color: $color_gray
                    }
                   .menu-item-has-children {
                    @include flex(center,center,column);
                    
                }
                .anchor-item-menu{
                    @include flex(center,center,row);
                    cursor: pointer;
                }
                .menu-arrow{
                    cursor: pointer;
                }
                .sub-menu{
                    cursor: pointer;
                    display: none;

                    &.active{
                        @include flex(center,center,column);
                    }
                }
                }
            }
        }
    }
}