.post-row{

@media (max-width:768px) {
    gap: 1.3rem;
}
.post-card{
    background-color: $color_light_green;
    transition:  all .3s;
    &:hover{
        box-shadow: 0px 9px 41px -15px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 9px 41px -15px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 9px 41px -15px rgba(0,0,0,0.25);
        cursor: pointer;
    }
    .entry-header{
        .date-published{
            background-color: #fff;
            color: #000;
            border-radius: 50rem;
            text-align: center;
            padding: 0.5rem 1rem;
            font-weight: 600;
            cursor: pointer;
           transition:  all .3s;
           font-size: 15px;
            &:hover{
                background-color: $color_primary;
                box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                -webkit-box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                -moz-box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                color: white;
            }
        }
        .blog-card-badge{
            background-color: #fff;
            color: #000;
            border-radius: 50rem;
            text-align: center;
            padding: 0.5rem 1rem;
            font-weight: 600;
            cursor: pointer;
           transition:  all .3s;
           font-size: 15px;
            &:hover{
                background-color: $color_primary;
                box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                -webkit-box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                -moz-box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                color: white;
                a{
                    color: white;
                }
            }
            ul{       
                a{
                    color: black;
                    text-decoration: $td_none;
                }
            }
        }
    }
    .entry-content{
        min-height: 10vh;
    }
    .entry-footer{
        .author-pic{
            width: 15%;
            img{
                width: 100%;
            }
        }
    }
}
}
.next-prev-links{
    .navigation{
        ul{
            @include flex(center,center,row);
            gap: 1rem;
            li{
                &.active{
                    a{  
                    background-color: $color_primary;
                    box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                    -webkit-box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                    -moz-box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                    color: white;
                    border-radius: 50rem;
                    text-align: center;
                    padding: 0.5rem 1rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition:  all .3s;
                    font-size: 15px;
                }
                }
                a{
                    text-decoration: none;
                    background-color: #fff;
                    color: #000;
                    border-radius: 50rem;
                    text-align: center;
                    padding: 0.5rem 1rem;
                    font-weight: 600;
                    cursor: pointer;
                   transition:  all .3s;
                   font-size: 15px;
                    &:hover{
                        background-color: $color_primary;
                        box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                        -webkit-box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                        -moz-box-shadow: 0px 10px 29px 1px rgb(0 0 0 / 50%);
                        color: white;
                    }
                }
            }
        }
    }
}