.td-none{
    text-decoration: $td_none;
}
.color-primary{
    color: $color_primary;
}
.dot {
    height: 4px;
    width: 4px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}
.fw-600{
    font-weight: 600;
}