.search-form{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    
    &.active{
        display: flex;
        z-index: 2;
    }
   

}
.search-form-input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #d3d3d3;
    padding: .2rem 0;
    transition: .5s all;
    &:focus{
        border-bottom: 2px solid black;

    }
}
.search-trigger{
    cursor: pointer;
}