#pre-footer{
    background-color: #151515;
    color: white;
    padding: 3rem 0;

    .pre-footer-content{
        padding: 5rem 0;
        border-top: 1px solid rgba(255,255,255,0.07);
        border-bottom: 1px solid rgba(255,255,255,0.07);

        @media (max-width:576px){
            flex-direction: column;
        }
    }
}